@import 'colors';
@import 'hero';
@import 'menu';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body 
{
  text-decoration: none;
  color: white;
  position: relative;
  background-color: white;
}
footer
{
  h3
  {
    color: $hover;
  }
  h3, p
  {
    text-align: center;
    margin: 1rem;
  }
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}
//x-small
@media (max-width: 480px) {
    footer
    {
      h3
      {
        font-size: 13px;
      }
      p
      {
        font-size: 8px;
        margin: 0;
      }
    }
}
//small
@media (max-width: 768px) {
    nav
    {
      i,a
      {
        font-size: 20px;
      }
    }
    .navbar-br
    {
      font-family: 'Abril Fatface', cursive;
      font-size: 20px;
      text-decoration: none;
    }
    footer
    {
      h3
      {
        font-size: 18px;
      }
      p
      {
        font-size: 10px;
        margin: 0;
      }
    }
    .card-wrapper
    {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-section
    {
      font-size: 5px;
      position: relative;
      display: none;
      width: 80%;
      h3
      {
        margin-right: 50px;
      }
      span
      {
        position: absolute;
        margin-left: 50px;
        right: 0;
      }
    }
    .wrapper
    {
      h2
      {
        font-size: 30px;
        writing-mode: horizontal-tb;
        text-align: center;
        margin-bottom: 20px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-tabs
    {
      justify-content: center;
      font-size: 12px;
      padding: 5px;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 20px;
    }
    .menu-tab
    {
      &:focus
      {
        border-bottom: 2px solid $hover;
        border-left: none;
      }
      border-bottom: 2px solid rgba(0,0,0,0.1);
      line-height: 1;
      border-left: none;
      transition: background-color 0.3s;
    }
    .menu-tab:hover
    {
      border-left: none;
      border-bottom: 2px solid $transparent-hv;
    }
    .card
    {
      h3
      {
        font-size: 20px;
      }
      p
      {
        font-size: 15px;
      }
    }
    header
    {
      h1
      {
        font-size: 30px;
      }
      p
      {
        font-size: 14px;
      }
    }
}
//medium
@media (max-width: 1024px) {

}
//big
@media (max-width: 1200px) {

}